.section {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLoad {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-areas: "frame" "textLoad";
  grid-template-columns: 1fr;
  border: none;
  margin: 0px 5px;
  border-radius: 10px 10px 7px 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
}

.frames {
  width: 400px;
  height: 300px;
  grid-area: frame;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.frameOne,
.frameTwo,
.frameThree,
.frameFour {
  width: 300px;
  height: 300px;
  position: absolute;
  display: block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.frameOne {
  background-image: url("./../../Assets/Image/Images/pikachu-frame-0.png");
  animation: frameOne 0.4s infinite linear;
}
.frameTwo {
  background-image: url("./../../Assets/Image/Images/pikachu-frame-1.png");
  animation: frameTwo 0.4s infinite linear;
}
.frameThree {
  background-image: url("./../../Assets/Image/Images/pikachu-frame-2.png");
  animation: frameThree 0.4s infinite linear;
}
.frameFour {
  background-image: url("./../../Assets/Image/Images/pikachu-frame-3.png");
  animation: frameFour 0.4s infinite linear;
}

.textLoad {
  width: 400px;
  height: 100px;
  grid-area: textLoad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.textLoad::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 50%;
  margin: 14px 0 0;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  animation: textLoad 2s infinite linear;
}

@keyframes frameOne {
  0%,
  24% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}
@keyframes frameTwo {
  0%,
  24% {
    opacity: 0;
  }
  25%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
@keyframes frameThree {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  74% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}
@keyframes frameFour {
  0%,
  74% {
    opacity: 0;
  }
  75%,
  100% {
    opacity: 1;
  }
}

@keyframes textLoad {
  16% {
    background-color: var(--black);
    box-shadow: 0px 0px 0px var(--black), 0px 0px 0px var(--black);
  }
  32% {
    box-shadow: 6px 0px 0px var(--black), 6px 0px 0px var(--black);
  }
  50% {
    background-color: var(--black);
    box-shadow: 6px 0px 0px var(--black), 12px 0px 0px var(--black);
  }
  66% {
    box-shadow: 6px 0px 0px var(--black), 6px 0px 0px var(--black);
  }
  82% {
    background-color: var(--black);
    box-shadow: 0px 0px 0px var(--black), 0px 0px 0px var(--black);
  }
}

@media (max-width: 420px) {
  .textLoad {
    height: 50px;
  }

  .cardLoad {
    height: 260px;
  }

  .frames,
  .frames span {
    width: 200px;
    height: 200px;
  }

  .cardLoad,
  .frames,
  .textLoad {
    width: 260px;
  }

  .frameOne,
  .frameTwo,
  .frameThree,
  .frameFour {
    background-size: 80%;
  }
}
